.sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 8px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }
  
  /* Create a custom radio button */
  .sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create the checkmark */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .sidebar-label-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .sidebar-label-container input:checked ~ .checkmark {
    background-color: #2196f3;
  }
  
  /* Create a blue bullet for each input when checked */
  .sidebar-label-container input:checked ~ .checkmark {
    background-color: #0b03fc;
  }
  