/* Input.css */
.sidebar-label-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
  }
  
  .sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    /* color:rgb(58, 57, 56) */
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .sidebar-label-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* To keep the checkmark consistent with the style provided */
  .sidebar-label-container .checkmark {
    background-color: #eee;
  }
  
  .sidebar-label-container input:checked + .checkmark {
    background-color: inherit; /* This will inherit the background color from the inline style */
  }
  